/*본문*/
#text3{
  font-size: 18px;
  font-weight: 400;
  padding-left: 250px;
  padding-top: 50px;
}

@media screen and (max-width: 1440px) {

  #text3{
    padding-left: 150px;
  }
}

@media screen and (max-width: 1100px) {

  #text3{
    padding-left: 100px;
    margin-right: 100px;
  }

}

@media screen and (max-width: 1000px) {

  #text3{
    padding-left: 40px;
    margin-right: 40px;
  }

}