/*본문*/
#text3{
  font-size: 18px;
  font-weight: 500;
  padding-left: 250px;
  padding-bottom: 50px;
  color: #000000;
}

.strongtext{
  font-size: 38px;
  font-weight: 600;
  color: #000000;
  padding-top: 100px;
  padding-bottom: 50px;
}

#strongtextsize{
  padding-top: 50px;
}

.abouttext{
  color: #0061E0;
  padding: 0;
  width: 195px;
}

@media screen and (max-width: 1440px) {

  #text3{
    padding-left: 150px;
  }
}

@media screen and (max-width: 1100px) {

  #text3{
    padding-left: 100px;
    margin-right: 100px;
  }

}

@media screen and (max-width: 1000px) {

  .strongtext{
    font-size: 30px;
  }

  #text3{
    padding-left: 40px;
    margin-right: 40px;
  }

}