#consult-contain{
  display: flex;
  flex-direction: column;
  margin-bottom: 500px;
}

.consult-contain2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 250px;
  margin-top: 50px;
  height: 300px;
}

.profile{
  width: 250px;
  height: 300px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.consult-name{
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: 50px;
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.consult-introduce{
  white-space: pre-line;
  color: #333;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.consult-1intro{
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #0061E0;
}

hr{
  border: 1px solid #dedede;
}

#consult-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #dedede;
  background-image: url("../../public/img/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 250px;
  padding-right: 40px;
  height: 44px;
  width: auto;
}

#consult-nav1{
  display: none;
}

#con-size{
  margin-right: 0px;
}

.consult-nav-consult{
  color: #fff;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 0px;
  margin-right: 60px;
}

.consult-nav-consult:hover{
  color: #0061E0;
  border-bottom: 2px solid #0061E0;
}

.selected-consultant {
  color: #0061E0; /* 또는 원하는 색상 */
  border-bottom: 2px solid #0061E0;
}


@media screen and (max-width: 1440px) {
  #consult-nav{
    padding-left: 150px;
  }
  .consult-contain2{
    margin-left: 150px;
    margin-right: 150px;
  }

}

@media screen and (max-width: 1100px) {
  #consult-nav{
    padding-left: 100px;
  }
  .consult-contain2{
    margin-left: 100px;
    margin-right: 100px;
  }
  
}

@media screen and (max-width: 1000px) {
  #consult-nav{
    padding-left: 40px;
  }
  .consult-contain2{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 800px) {

  #consult-nav{
    padding-left: 40px;
  }

  .profile{
    width: 150px;
    height: 200px;
  }
  
  .consult-name{
    margin-left: 30px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .consult-introduce{
    white-space: pre-line;
    color: #333;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .consult-1intro{
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #0061E0;
  }

  .consult-nav-consult{
    margin-right: 30px;
  }
}

@media screen and (max-width: 550px) {
  
  .consult-contain2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .consult-contain2{
    margin-right: 10px;
    width: auto;
    height: 400px;
  }

  .profile{
    margin: 0 auto;
    width: 150px;
    height: 200px;
  }
  
  .consult-name{
    width: auto;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
  }
  
  .consult-introduce{
    white-space: pre-line;
    color: #333;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .consult-1intro{
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #0061E0;
  }

  .consult-nav-consult{
    margin-right: 30px;
  }

  #consult-nav{
    height: auto;
    flex-wrap: wrap;
  }

}