#text3-privacy{
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0 100px;
  margin-bottom: 100px;
  margin-top: 130px;
}

.strongtext10{
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.strongtext-privacy{
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin: 50px 0px 100px 0px;
}

@media screen and (max-width: 690px) {
  #text3-privacy{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 20px;
    margin-bottom: 100px;
    margin-top: 130px;
  }
}